
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <h2>company</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li style="margin-right: 10px;">
                    <a href='/user/create'><button type='button' class='btn btn-primary'>Registation</button></a>
                </li>
                <li>
                    <a href='/user/login'><button type='button' class='btn btn-primary'>login</button></a>
                </li>
            
            </ul>
        </div>
    </nav>





    <div class="container mt-5">
        <h3>Sell product</h3>


        {% if error is defined and error.message != "" %}
            <div class="card bg-light text-dark " style="margin-top: 3rem!important; margin-bottom: 3rem!important;">
                <div class="card-body">{{ error.message }}</div>
            </div>
        {% endif %}

        {% if success is defined and success.message != "" %}
        <div class="card bg-success text-dark " style="margin-top: 3rem!important; margin-bottom: 3rem!important;">
            <div class="card-body">{{ success.message }}</div>
        </div>
        {% endif %}


        

        <form method='POST'>
            
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">product id</span>
                </div>
                <input type="text" name='product_id' class="form-control" placeholder="product id" value="{{ request.form['product_id'] }}">
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">sell item</span>
                </div>
                <input type="text" name='amount' class="form-control" placeholder="sell_item" value="{{ request.form['amount'] }}">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">costomar</span>
                </div>
                <input type="text" name='costomar' class="form-control" placeholder="costomar name" value="{{ request.form['costomar'] }}">
            </div>
    

    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

</body>

</html>